.about {
  padding: 0 0 52px;
  position: relative;

  &::after {
    content: '';
    background-image: url('../img/about_bg.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 18%;
    top: 46%;
    height: 100%;
    width: 304px;
    z-index: 0;
  }

  .inner-wrap {
    position: relative;
    z-index: 1;
  }

  .section-title {
    padding-bottom: 15px;
  }

  .about-row {
    display: flex;
    justify-content: space-between;

    .col-text,
    .col-img {
      width: 50%;
    }
    .col-text {
      max-width: 560px;
    }
    .col-img {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 600px;
      }
    }
  }

  .title {
    font-weight: 500;
    font-size: 64px;
    line-height: 1.18;
    padding: 0 0 46px;
    color: #174354;

    span {
      color: #cc2323;
    }
  }

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6;
  }

  .btn-holder {
    text-align: right;
    margin: 22px 0 0;
  }
}
