.about {
  padding: 0 0 52px;
  position: relative;

  &::after {
    content: '';
    background-image: url('../img/about_bg.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 18%;
    top: 46%;
    height: 100%;
    width: 304px;
    z-index: 0;
  }

  .inner-wrap {
    position: relative;
    z-index: 1;
  }

  .section-title {
    padding-bottom: 15px;
  }

  .about-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .col-text,
    .col-img {
      width: 100%;
      @media (min-width: 1024px) {
        width: 50%;
      }
    }
    .col-text {
      max-width: 560px;
      p {
        color: var(--primary);
        text-align: justify;
      }
    }
    .col-img {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1023px) {
        padding: 80px 0 0;
      }
      @media (min-width: 1024px) {
        padding-left: 15px;
        padding-right: 15px;
      }
      img {
        @media (min-width: 1280px) {
          max-width: 600px;
        }
      }
    }
  }

  .title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.18;
    padding: 0 0 46px;
    color: var(--primary);
    @media (min-width: 640px) {
      font-size: 54px;
    }
    @media (min-width: 1280px) {
      font-size: 64px;
    }
    span {
      color: var(--primary_active);
    }
  }

  p {
    color: var(--primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    @media (min-width: 640px) {
      font-size: 18px;
    }
  }

  .btn-holder {
    text-align: right;
    margin: 22px 0 0;
  }
}
