.clients {
  padding: 0 0 55px;

  .section-title {
    padding-bottom: 15px;
  }

  .item-holder {
    display: flex;
    flex-wrap: wrap;
  }

  .clients-item {
    width: 25%;
    padding: 14px 13px;
  }
}
