.column-text {
  padding: 0 0 50px;
  @media (min-width: 1024px) {
    padding: 0 0 30px;
  }
  .section-title {
    padding-bottom: 2px;
  }
  .text-holder {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    @media (max-width: 1023px) {
      max-height: 335px;
      overflow: hidden;
      &.active {
        max-height: 100%;
      }
    }
  }
  .content-wrap {
    font-size: 14px;
    padding: 0 15px;
    text-align: justify;
    width: 100%;
    @media (min-width: 1024px) {
      padding: 0 30px;
      width: 50%;
    }
  }
  .content-item {
    margin-bottom: 20px;
  }
  .btn-holder {
    text-align: center;
    padding: 25px 0 0;
    @media (min-width: 1024px) {
      display: none;
    }
    .btn {
      padding: 5px 23px;
    }
  }
}
