.contacts {
  position: relative;
  padding: 0 0 75px;
  .hero {
    position: relative;
    padding: 50px 0 10px;
    .img-holder {
      position: absolute;
      top: 80px;
      right: 0;
    }
  }
  .info-holder {
    margin: 0 0 36px;
    .info-row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      color: var(--primary);
      font-size: 18px;
      margin-bottom: 20px;
      img {
        & + a {
          margin-left: 14px;
        }
      }
    }
  }
  .main-holder {
    position: relative;
    &::after {
      content: '';
      background-image: url('../img/about_bg.png');
      background-repeat: no-repeat;
      position: absolute;
      right: 6.5%;
      bottom: 6%;
      height: 304px;
      width: 304px;
      z-index: -1;
    }
    .section-title {
      padding-bottom: 30px;
    }
  }
  .item-title {
    color: var(--primary);
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 14px;
  }
}

.buttons-row {
  margin: 0 0 37px;
  .slick-slider {
    .slick-prev {
      left: -40px;
      top: 12px;
    }
    .slick-next {
      right: -40px;
      top: 12px;
    }
  }
}

.slide-btn {
  max-width: 150px;
}

.contact-form {
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
  .form-col {
    padding: 0 10px;
  }
  .form-group {
    position: relative;
    & + .form-group {
      margin: 29px 0 0;
    }
  }
  .area-col {
    width: 35%;
  }
  .file-col {
    width: 12%;
    margin-top: -25px;
    label {
      color: var(--primary);
      font-size: 14px;
    }
    .file-name {
      color: var(--primary);
      font-size: 16px;
      font-weight: 500;
      margin: 5px 0 0;
    }
    .file-text {
      color: var(--primary);
      font-size: 10px;
      font-weight: 300;
      line-height: 1.2;
      margin: 8px 0 0;
    }
    input[type='file'] {
      height: 0;
      width: 0;
    }
    .file-btn {
      background-color: var(--primary);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 86px;
    }
  }
  .input-col {
    margin-top: -25px;
    input {
      min-width: 320px;
    }
    .btn {
      padding: 5px 23px;
    }
  }
  textarea {
    border: 1px solid var(--primary);
    width: 100%;
    min-height: 110px;
    padding: 5px 10px;
  }
  input {
    border: 0;
    border-bottom: 1px solid var(--primary);
  }
  .label {
    color: var(--primary);
    font-size: 14px;
  }
  .placeholder {
    position: absolute;
    top: 2px;
    left: 0;
    padding: 0 3px;
    transition: 0.3s all;
    z-index: 0;
    &.active {
      top: -15px;
      left: -3px;
      font-size: 10px;
    }
  }
}
