.footer {
  background-color: var(--primary);
  color: var(--white);
  padding: 25px 0 0;
  position: relative;
  z-index: 1;
  .container {
    @media (min-width: 1450px) {
      padding: 0;
    }
  }
  .img-row {
    margin: 0;
  }

  .footer-logo {
    display: inline-block;
  }

  .content {
    display: flex;
    justify-content: space-between;

    .text-holder {
      display: flex;
    }

    .description {
      max-width: 274px;
      font-weight: 500;
      font-size: 14px;
      line-height: 2;
      margin: 16px 0 22px;
    }
  }

  .f-title {
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 6px;
  }

  .social-items {
    .img-holder {
      display: flex;
    }

    .social-item {
      & + .social-item {
        margin-left: 22px;
      }
    }
  }

  .footer-navigation {
    column-count: 2;
    padding: 17px 0 0 85px;
    position: relative;

    &::before,
    &::after {
      content: '';
      background: var(--white);
      position: absolute;
      top: 11px;
      width: 20px;
      height: 2px;
    }

    &::before {
      left: 85px;
    }

    &::after {
      right: 92px;
    }

    &:hover {
      .nav-item {
        a {
          opacity: 0.5;
        }
      }
    }

    .nav-item {
      padding: 0 40px 0 0;
      font-size: 18px;
      position: relative;

      a {
        transition: 0.3s all;

        &::after {
          content: '';
          background: var(--white);
          width: 0;
          height: 2px;
          position: absolute;
          left: 0;
          bottom: 0;
          transition: 0.3s all;
        }

        &:hover {
          opacity: 1;

          &::after {
            width: 30px;
          }
        }
      }
    }
  }

  .form {
    max-width: 630px;
    margin: 0;

    .form-col {
      &.area-col {
        width: 385px;
        padding-left: 25px;
      }
    }
  }

  .copyright {
    border-top: 1px solid var(--white);
    text-align: center;
    font-size: 14px;
    padding: 24px 0;
    margin: 25px 0 0;
  }
}
