.footer {
  background-color: #174354;
  color: #fff;
  padding: 25px 0 0;

  .img-row {
    margin: 0 0 6px;
  }
  .content {
    display: flex;
    justify-content: space-between;
    .text-holder {
      display: flex;
    }
    .description {
      max-width: 274px;
      font-weight: 500;
      font-size: 14px;
      line-height: 2;
      margin: 16px 0 22px;
    }
  }

  .f-title {
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 6px;
  }

  .social-items {
    .img-holder {
      display: flex;
    }
    .social-item {
      & + .social-item {
        margin-left: 22px;
      }
    }
  }

  .footer-navigation {
    column-count: 2;
    padding: 17px 0 0 85px;
    position: relative;
    &::before,
    &::after {
      content: '';
      background: #fff;
      position: absolute;
      top: 11px;
      width: 20px;
      height: 2px;
    }
    &::before {
      left: 85px;
    }
    &::after {
      right: 92px;
    }
    .nav-item {
      padding: 0 40px 0 0;
      font-size: 18px;
    }
  }

  .form {
    max-width: 630px;
    margin: 0;
    .form-col {
      &.area-col {
        width: 385px;
        padding-left: 25px;
      }
    }
  }

  .copyright {
    border-top: 1px solid #fff;
    text-align: center;
    font-size: 14px;
    padding: 24px 0;
    margin: 25px 0 0;
  }
}
