.hero {
  padding: 50px 0 50px;
  .title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.18;
    padding: 0 0 20px;
    color: var(--primary);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    @media (min-width: 640px) {
      font-size: 64px;
    }
    span {
      color: #cc2323;
    }
  }
  p {
    font-weight: 500;
    font-size: 14px;
    max-width: 350px;
    @media (min-width: 640px) {
      font-size: 18px;
    }
  }
  .btn-holder {
    padding: 11px 0;
    width: 100%;
  }
  .inner-wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .text-holder {
    width: 100%;
    padding: 0 15px;
    @media (min-width: 1024px) {
      width: 50%;
    }
  }
  .img-holder {
    width: 50%;
    @media (max-width: 1023px) {
      opacity: 0.2;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
    }
    img {
      margin: 0 80px 0 auto;
      @media (max-width: 1023px) {
        margin: 0 0 0 auto;
      }
    }
  }
  &.hero-project {
    .inner-wrap {
      justify-content: space-between;
    }
    .text-holder {
      width: auto;
    }
    .date-holder {
      margin: 21px 0 0;
      p {
        font-size: 36px;
        font-weight: 500;
      }
    }
  }
  &.hero-about {
    .hero-text {
      font-size: 14px;
      font-weight: 400;
      max-width: 490px;
    }
    .list-holder {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      width: 50%;
      .principle-item {
        padding: 0 0 40px 60px;
        width: 50%;
        .ico {
          max-width: 32px;
          margin-bottom: 17px;
        }
        .list-title {
          font-weight: 500;
          font-size: 18px;
          margin-bottom: 15px;
        }
        .list-text {
          font-size: 14px;
          line-height: 1.7;
          max-width: 100%;
        }
      }
    }
    .img-holder {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
    }
  }
  &.hero-portfolio {
    padding: 50px 0 0;
  }
  &.hero-services {
    padding: 50px 0 0;
    .img-holder {
      img {
        margin: -80px 40px -130px auto;
      }
    }
  }
}
