.small-body-wrap {
  .bigPortfolio & {
    display: none;
  }
}

.main-project {
  .small-body-wrap {
    padding: 40px 0 0;
  }
  .big-body-wrap {
    [class^='block-'],
    [class*='block-'] {
      width: 100%;
      .img-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        img {
          margin: 0 auto;
        }
      }
    }
    .block-1 {
      max-width: 715px;
      margin: 0 0 0 auto;
      @media (min-width: 768px) {
        width: 50%;
      }
      .img-holder {
        flex-wrap: nowrap;
      }
    }
    .block-2 {
      max-width: 715px;
      margin: 0 auto 0 0;
      @media (min-width: 768px) {
        width: 50%;
      }
    }
    .block-6 {
      position: relative;
      margin: 0 0 35px;
      @media (min-width: 768px) {
        margin: 0 0 75px;
      }
      &::after {
        content: '';
        background: var(--light-gray);
        height: calc(100% - 80px);
        width: 100%;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
      }
      .img-holder {
        padding: 30px 0 0;
        & > div {
          @media (min-width: 768px) {
            max-width: 50%;
          }
        }
      }
    }
  }
  .section-title {
    padding: 0 0 24px 14px;
  }
  .inner-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .page-item {
    position: relative;
    @media (max-width: 767px) {
      margin: 0 0 85px;
      overflow: hidden;
    }
  }
  .img-holder {
    margin: 0 0 40px;
    @media (min-width: 768px) {
      padding: 0 15px;
    }
  }
  .col-l {
    width: 100%;
    @media (min-width: 768px) {
      width: 45%;
    }
    .page-item {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        &::after {
          content: '';
          background-repeat: no-repeat;
          position: absolute;
          z-index: -1;
        }
      }
      &:nth-child(1) {
        &::after {
          background-image: url('../img/specialization_l_bg.png');
          left: 19%;
          bottom: -57px;
          height: 162px;
          width: 291px;
        }
      }
      &:nth-child(2) {
        &::after {
          background-image: url('../img/specialization_l_bg.png');
          left: 76%;
          bottom: 74px;
          height: 162px;
          width: 291px;
        }
      }
      &:nth-child(3) {
        &::after {
          background-image: url('../img/specialization_r_bg.png');
          left: 7%;
          bottom: -140px;
          height: 344px;
          width: 344px;
        }
      }
    }
  }
  .col-r {
    padding: 60px 0 0;
    width: 100%;
    @media (min-width: 768px) {
      width: 55%;
    }
    .section-title {
      @media (min-width: 768px) {
        margin: 0 0 0 auto;
        width: 45.3%;
      }
    }
    .page-item {
      &:nth-child(1) {
        &::after {
          content: '';
          background-image: url('../img/about_bg.png');
          background-repeat: no-repeat;
          position: absolute;
          right: 15%;
          top: -50px;
          height: 100%;
          width: 304px;
          z-index: -1;
        }
      }
    }
  }
  .col-bottom {
    width: 100%;
    .preview {
      margin: 0 auto;
    }
  }

  .typography {
    width: 100%;
    padding: 35px 0 80px;
    .color-item-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 890px;
      margin: 30px auto 50px;
      @media (min-width: 768px) {
        margin: 50px auto 70px;
      }
    }
    .color-item {
      text-align: center;
    }
    .color-circle {
      background-color: #2d4e09;
      box-shadow: 7px 7px 20px rgb(23 67 84 / 15%);
      border-radius: 50%;
      border: 7px solid var(--white);
      height: 80px;
      width: 80px;
      @media (min-width: 768px) {
        border: 10px solid var(--white);
        height: 120px;
        width: 120px;
      }
    }
    .color-title {
      font-size: 18px;
      font-weight: 500;
      color: var(--primary);
      margin: 22px 0 0;
      display: block;
    }
    .font-item-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 890px;
      margin: 30px auto 70px;
      @media (min-width: 576px) {
        margin: 50px auto 90px;
      }
      @media (min-width: 768px) {
        margin: 50px auto 120px;
      }
      @media (min-width: 1024px) {
        margin: 50px auto 220px;
      }
      & > div {
        @media (max-width: 575px) {
          margin: 0 0 20px;
          width: 100%;
          img {
            margin: 0 auto;
          }
        }
      }
    }
    .grid-item-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .grid-item-text {
        color: var(--primary);
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        margin: 0 0 17px;
        width: 100%;
      }
    }
  }
  .logo-section {
    padding: 73px 0 75px;
    width: 100%;
    .logo-wrap {
      display: flex;
      flex-wrap: wrap;
      max-width: 890px;
      margin: 8px auto 0;
    }
    .logo-item {
      @media (max-width: 767px) {
        text-align: center;
        width: 100%;
      }
      & + .logo-item {
        @media (max-width: 767px) {
          margin: 50px 0 0;
        }
        @media (min-width: 768px) {
          margin-left: 50px;
        }
      }
      img {
        max-width: 400px;
        @media (max-width: 767px) {
          margin: 0 auto;
        }
      }
    }
    .logo-item-text {
      color: var(--primary);
      font-size: 18px;
      font-weight: 500;
      margin: 0 0 15px;
      @media (min-width: 768px) {
        margin: 0 0 35px;
      }
    }
  }
}
