body {
  margin: 0;
  background-color: #fff;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
}

.btn {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  background: #cc2323;
  display: inline-block;
  padding: 5px 11px;
  border: 1px solid #cc2323;
  transition: 0.3s all;

  &:hover {
    background: transparent;
    color: #cc2323;
  }

  &-white {
    border: 1px solid #fff;
    background-color: #fff;
    color: #cc2323;
    padding: 5px 23px;
    margin: 12px 0 0;

    &:hover {
      border: 1px solid #cc2323;
      background-color: #cc2323;
      color: #fff;
    }
  }
}

.section-title {
  color: #174354;
  font-weight: 500;
  font-size: 36px;
  position: relative;
  padding: 0 0 55px 14px;

  &::before {
    content: '';
    background: #cc2323;
    transform: rotate(-90deg);
    position: absolute;
    top: 26px;
    left: -15px;
    height: 2px;
    width: 30px;
  }
}

.home {
  background-image: url('../img/home_bg.png');
  background-size: 1444px;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.justify-content-end {
  justify-content: flex-end;
}

a,
button,
input,
textarea {
  outline: none;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1430px;
  }
}
