.portfolio {
  .section-title {
    padding: 0 0 30px 14px;
  }

  .slider-wrap {
    margin-left: -24px;
    padding: 0 0 20px;
    .slick-slide {
      padding-left: 24px;
    }
  }

  .portfolio-filter {
    background-color: #fff;
    border: 1px solid #174354;
    color: #174354;
    padding: 7px 5px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    transition: 0.3s all;
    &.active,
    &:hover {
      background-color: #174354;
      color: #fff;
    }
  }

  .inner-item {
    background: rgba(23, 67, 84, 0.96);
    margin: 10px;
    color: #fff;
    padding: 33px 30px;
    display: flex;
    flex-wrap: wrap;
  }

  .item-holder {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
  }

  .portfolio-item {
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - 24px);
    margin-left: 12px;
    margin-right: 12px;
    min-height: 279px;
  }

  .text-holder {
    width: 80%;
  }

  .btn-holder {
    display: flex;
    align-items: flex-end;
    width: 20%;
  }

  .item-title {
    font-weight: 500;
    font-size: 36px;
    width: 100%;
  }
  .item-type {
    font-weight: 500;
    font-size: 18px;
    width: 100%;
  }

  .item-text {
    font-size: 14px;
  }

  .icon-holder {
    display: flex;
    flex-wrap: wrap;
    img {
      max-width: 32px;
      max-height: 32px;
      margin: 0 25px 0 0;
    }
  }
  .btn {
    border: 1px solid #fff;
    background-color: #fff;
    color: #cc2323;
    &:hover {
      border: 1px solid #cc2323;
      background-color: #cc2323;
      color: #fff;
    }
  }
}
