.portfolio {
  padding: 0 0 62px;

  .section-title {
    padding-bottom: 30px;
    .portfolio-page & {
      display: none;
    }
  }

  .slider-wrap {
    margin-left: -24px;
    padding: 0 0 20px 0;

    .slick-slide {
      padding-left: 24px;
    }
  }

  .item-holder {
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 768px) {
      margin-left: -12px;
      margin-right: -12px;
    }
  }

  .portfolio-item {
    max-width: 100%;
    @media (min-width: 768px) {
      max-width: 50%;
    }

    &:hover {
      .inner-item {
        opacity: 1;
      }
    }

    .btn-holder {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 20%;
    }
  }

  .portfolio-bg {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    min-height: 279px;

    @media (min-width: 768px) {
      width: calc(100% - 24px);
      margin-left: 12px;
      margin-right: 12px;
    }
  }

  .inner-item {
    background: rgba(23, 67, 84, 0.96);
    margin: 10px;
    color: #fff;
    padding: 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s all;
    width: 100%;
    opacity: 0;
  }

  .text-holder {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }

  .item-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 0.8;
    margin: 0 0 14px;
    width: 100%;
  }

  .item-type {
    font-weight: 500;
    font-size: 18px;
    width: 100%;
  }

  .item-text {
    font-size: 14px;
    margin: 12px 0 0;
    line-height: 1.2;
  }

  .icon-list {
    display: flex;
    flex-wrap: wrap;

    .icon-item {
      max-width: 32px;
      max-height: 32px;
      margin: 0 25px 0 0;
    }
  }

  .btn {
    padding: 5px 11px;
  }

  .more-btn {
    min-width: 80px;
  }

  .more-btn-holder {
    text-align: center;

    .home & {
      display: none;
    }
  }
}

.portfolio-filter {
  button {
    background-color: #fff;
    border: 1px solid #174354;
    color: #174354;
    padding: 7px 5px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    transition: 0.3s all;
    width: 100%;

    &.active,
    &:hover {
      background-color: #174354;
      color: #fff;
    }
  }
}
