.portfolio {
  .slider-wrap {
    .slick-slide {
      padding: 0 5px;
    }
  }

  .portfolio-filter {
    background-color: #174354;
    color: #fff;
    padding: 5px 5px;
  }

  .item-holder {
    display: flex;
    flex-wrap: wrap;
  }

  .portfolio-item {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }

  .text-holder {
    width: 80%;
  }

  .btn-holder {
    display: flex;
    align-items: flex-end;
    width: 20%;
  }

  .icon-holder {
    display: flex;
    flex-wrap: wrap;
  }
}
