.specialization {
  padding: 0 0 120px;

  .item-holder {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }

  .services-item {
    width: calc(20% - 20px);
    box-shadow: 7px 7px 20px rgba(23, 67, 84, 0.15);
    background: #fff;
    color: #174354;
    margin-right: 10px;
    margin-left: 10px;
    min-height: 250px;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;

    .inner-item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
    }

    .item-title {
      font-weight: 500;
      font-size: 18px;
    }

    p {
      font-size: 14px;
      padding: 0 0 0 17px;
    }

    .icon-holder {
      display: flex;
      justify-content: flex-end;
    }
  }
}
