.specialization {
  padding: 0 0 85px;
  position: relative;

  &::before,
  &::after {
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    z-index: 0;
  }
  &::before {
    background-image: url('../img/specialization_l_bg.png');
    left: 32%;
    top: 173px;
    width: 291px;
  }

  &::after {
    content: '';
    background-image: url('../img/specialization_r_bg.png');
    right: 14%;
    top: -35px;
    width: 343px;
  }

  .inner-wrap {
    position: relative;
    z-index: 1;
  }

  .item-holder {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
  }

  .services-item {
    width: 100%;
    box-shadow: 7px 7px 20px rgba(23, 67, 84, 0.15);
    background: #fff;
    color: #174354;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    min-height: 250px;
    padding: 20px 25px;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 640px) {
      width: calc(20% - 40px);
    }

    .inner-item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
    }

    .item-title {
      font-weight: 500;
      font-size: 18px;
    }

    p {
      font-size: 14px;
      padding: 0 0 0 17px;
    }

    .icon-holder {
      display: flex;
      justify-content: flex-end;
      max-height: 32px;
    }
  }
}
