.specialization {
  padding: 0 0 17px;
  position: relative;
  overflow: hidden;
  @media (min-width: 640px) {
    padding: 0 0 85px;
  }
  &::before,
  &::after {
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    z-index: 0;
  }
  &::before {
    background-image: url('../img/specialization_l_bg.png');
    left: 32%;
    top: 173px;
    width: 291px;
  }
  &::after {
    content: '';
    background-image: url('../img/specialization_r_bg.png');
    right: 14%;
    top: -35px;
    width: 343px;
  }
  .section-title {
    @media (max-width: 639px) {
      padding: 0 0 12px 10px;
    }
  }
  .inner-wrap {
    position: relative;
    z-index: 1;
  }
  .item-holder {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    @media (min-width: 1480px) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
  .services-item {
    width: 100%;
    box-shadow: 7px 7px 20px rgba(23, 67, 84, 0.15);
    background-color: var(--white);
    color: var(--primary);
    min-height: 250px;
    padding: 20px 25px;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 575px) {
      max-width: 250px;
      margin: 0 auto 20px;
    }
    @media (min-width: 576px) {
      width: calc(50% - 30px);
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 30px;
    }
    @media (min-width: 768px) {
      width: calc(33.33% - 30px);
    }
    @media (min-width: 1024px) {
      width: calc(25% - 30px);
    }
    @media (min-width: 1480px) {
      width: calc(20% - 40px);
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 40px;
    }
    .inner-item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
    }
    .item-title {
      font-weight: 500;
      font-size: 18px;
    }
    p {
      font-size: 14px;
      padding: 0 0 0 17px;
    }
    .icon-holder {
      display: flex;
      justify-content: flex-end;
      max-height: 32px;
    }
  }
}
