.team-list {
  padding: 0 0 30px;
  @media (min-width: 640px) {
    padding: 0 0 80px;
  }
  .list-holder {
    display: flex;
    flex-wrap: wrap;
  }
  .team-item {
    border: 1px solid var(--primary);
    position: relative;
    max-width: 332px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 100%;
    @media (min-width: 640px) {
      margin: 0 10px 20px;
      width: calc(50% - 20px);
    }
    @media (min-width: 768px) {
      width: calc(33.33% - 20px);
    }
    @media (min-width: 1280px) {
      width: calc(25% - 20px);
    }
    &:hover {
      .inner-item {
        opacity: 1;
      }
    }
  }
  .inner-item {
    background: rgba(23, 67, 84, 0.96);
    margin: 10px;
    color: var(--white);
    padding: 23px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s all;
    position: absolute;
    top: 0;
    left: 10;
    right: 0;
    bottom: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    opacity: 0;
    @media (min-width: 1480px) {
      padding: 23px 33px;
    }
  }
  .user-img {
    object-fit: cover;
    height: 332px;
    width: 100%;
    @media (min-width: 640px) {
      height: 254px;
    }
    @media (min-width: 768px) {
      height: 223px;
    }
    @media (min-width: 1024px) {
      height: 286px;
    }
    @media (min-width: 1480px) {
      height: 332px;
    }
  }
  .user-name {
    font-weight: 500;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 10px;
    width: 100%;
    @media (min-width: 1024px) {
      font-size: 30px;
    }
    @media (min-width: 1480px) {
      font-size: 36px;
    }
  }
  .user-position {
    font-weight: 500;
    font-size: 18px;
    width: 100%;
  }
}
