.title-button {
  background-color: var(--primary);
  position: relative;
  padding: 33px 0;
  margin: 0 0 95px;
  overflow: hidden;

  &::after {
    content: '';
    background-image: url('../img/form_bg.png');
    background-repeat: no-repeat;
    position: absolute;
    left: 2%;
    top: 50px;
    height: 100%;
    width: 304px;
    z-index: 0;
  }
  .inner-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .title {
    font-weight: 500;
    font-size: 36px;
    color: var(--white);
    & + .btn {
      margin: 0 0 0 30px;
    }
  }
}
